html,
body {
    height: 100%;
    -webkit-tap-highlight-color: transparent;
    background-color: black;
    width: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "PingFang SC", "Helvetica Neue", Arial, "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei", SimSun, sans-serif;

}